.AboutUsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1 {
        text-align: center;
        /* background-color: rgba(240, 248, 255, 0.400); */
        background-image: radial-gradient(100% 100% at 100% 0, rgba(90, 219, 255, 0.3) 0, rgba(84, 104, 255, 0.3) 100%);
        width: 100%;
        border-radius: 100px;
        padding: 10px;
        color: white;
    }

    .AboutUsWrap, .AboutUsMissionWrap, .AboutUsValuesWrap, 
    .AboutUsTeamWrap, .AboutUsContactWrap {

        display: flex;
        flex-direction: row;
        margin-bottom: 200px;
        margin-top: 100px;
        align-items: center;

        .AboutUsParagraph, .AboutUsMissionParagraph, .AboutUsValuesList,
        .AboutUsTeamParagraph, .AboutUsContactParagraph {
            width: 500px;
            margin: 30px;
            padding: 20px;
            background-color: rgba(240, 248, 255, 0.400);
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            font-size: 32px;
        }

        .placeHolderImage {
            width: auto;
            height: 400px;
            border-radius: 10px;
        }

        .theTeamImage {
            width: auto;
            height: 400px;
            border-radius: 10px;
        }
    }

    .background video {
        /* please go to Home.css to edit background video */
        /* because it affects other specific variables */
    }
}