.homePage {
    background: rgb(0, 162, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homePage h1 {
    text-align: center;
    /* margin-bottom: 60%; */
}

.searchBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchBar {
    width: 70%;
    padding: 15px;
    font-size: 32px;
}