.homePage {
    background: rgb(0, 162, 255);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    top: 0;
}

.welcome {
    /* position: absolute; */
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 48px;
}

.searchBar {
    position: absolute;
    top: 60%;
    width: 70%;
    padding: 15px;
    font-size: 32px;
    border-radius: 20px;
}

.background video {
    width: 100%;
    height: 100vh;
    margin: 0;
    object-fit: cover;
    /* filter: blur(8px); */
}