.signPage .background {
  position: absolute;
  z-index: -1;
}

.signPage {
  display: flex;
  width: 100%;
  height: 100vh;
}

.signPage h2 {
  /* background-image: 
  linear-gradient(to right, #5adaff, #5468ff, #3c4fe0, #5adaff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: rgba(255, 255, 255, 0.3);
  animation: colorChange 3000s linear infinite; */
  color: rgba(0, 0, 0, 0.7);
}

/* @keyframes colorChange {
  to {
    background-position: 4500vh;
  }
} */

.hoverState {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 87, 174, 0.265);
  position: relative;
}

.hoverState h2 {
  margin-bottom: 20px;
  font-size: 48px;

}

.hoverState.hover {
  background-color: #ffffff;
  width: 50%;
}

.formCreate {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.hoverState.hover .formCreate {
  display: flex;
}

.formCreate input {
  margin-bottom: 15px;
  padding: 10px;
  width: 95%;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  font-size: 18px;
}

.formCreate button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  padding: 20px;
  width: 100%;
}

.formCreate button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.formCreate button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.formCreate button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}