.orderItemContainer {

    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

    h4 {

    }

    .startDate {

    }

    .orderItemDescription {
        color: black;
    }
}
